{% extends 'store/main.html' %} {% load static %} {% block content-block%}
<h2 class="page-title">Cart</h2>
<div class="box-element">
    <a href="{% url 'store' %}" class="continue-btn"
        ><span>&#x2190;</span> <strong>Continue Shopping</strong></a
    >

    <table class="table">
        <tr>
            <th>
                <h4>Items: <strong>{{order.get_cart_items}}</strong></h4>
            </th>
            <th>
                <h4>
                    Total:
                    <strong>${{order.get_cart_total|floatformat:2}}</strong>
                </h4>
            </th>
            <th>
                <a href="{% url 'checkout' %}" class="checkout-btn continue-btn"
                    >Checkout</a
                >
            </th>
        </tr>
    </table>
</div>

<div class="box-element">
    <div class="cart-row">
        <div style="flex: 2;"></div>
        <div style="flex: 2;"><strong>Item</strong></div>
        <div style="flex: 1;"><strong>Price</strong></div>
        <div style="flex: 1;"><strong>Quantity</strong></div>
        <div style="flex: 1;"><strong>Total</strong></div>
    </div>

    {% for item in items%}
    <div class="cart-row">
        <div style="flex: 2;">
            <img
                src="{% static 'images/apple-iphone-xr-5.jpg' %}"
                alt=""
                class="img-row"
            />
        </div>
        <div style="flex: 2;">{{item.product.name}}</div>
        <div style="flex: 1;">{{item.product.price|floatformat:2}}</div>
        <div style="flex: 1;" class="quant-div">
            <button
                data-product="{{item.product.id}}"
                data-action="remove"
                class="prepend chg-quantity update-cart"
            >
                <strong>-</strong>
            </button>
            <div><p>{{item.quantity}}</p></div>
            <button
                data-product="{{item.product.id}}"
                data-action="add"
                class="append chg-quantity update-cart"
            >
                <strong>+</strong>
            </button>
        </div>
        <div style="flex: 1;">${{item.get_total|floatformat:2}}</div>
    </div>
    {% endfor %}
</div>
{% endblock content-block %}
