{% extends 'store/main.html' %} {% load static %} {% block content-block %}
<h2 class="page-title">Store</h2>

<div class="store-div">
    {% for product in products %}
    <div class="store-item">
        <img
            src="{% static 'images/apple-iphone-xr-5.jpg' %}"
            alt="Shop Item"
        />

        <div class="product-details">
            <h3>{{product.name}}</h3>
            <h4>${{product.price|floatformat:2}}</h4>

            <div class="action-btns">
                <button
                    data-product="{{product.id}}"
                    data-action="add"
                    class="add-to-cart-btn update-cart"
                >
                    Add to Cart
                </button>
                <a href="" class="view-item">View Item</a>
            </div>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock content-block %}
