$trusty-blue: #368cbf;
$hover-blue: #1675ac;
$green: #72af4f;
$dark-slate: #33363b;
$light-gray: #eaeaea;
$darker-gray: #dddada;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: Montserrat;
    font-size: 1rem;
}

.wrapper {
    background-color: $light-gray;

    .header-strip {
        background-color: $dark-slate;
        min-height: 100px;

        .navigation-div {
            margin: 0 5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $light-gray;
            min-height: 100px;
            font-weight: 700;

            .brand {
                font-family: Lobster;
                font-size: 2rem;
                font-weight: 400;

                a {
                    color: $light-gray;
                    text-decoration: none;
                }
            }
            .nav-bar {
                .nav-list {
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    align-self: center;
                    align-items: center;

                    .nav-list-item {
                        display: inline;
                        padding: 0 1rem;
                        a {
                            text-decoration: none;
                            color: #eaeaea;
                        }
                    }
                }
            }

            .nav-icons {
                display: flex;

                .user-icon,
                .cart-icon {
                    padding: 0 0 0 1rem;
                    cursor: pointer;

                    a {
                        color: $light-gray;
                    }
                }

                .cart-icon {
                    span {
                        position: absolute;
                        display: block;
                        background: $trusty-blue;
                        top: 24px;
                        right: 64px;
                        text-align: center;
                        height: 20px;
                        width: 20px;
                        line-height: 20px;
                        font-size: 0.8rem;
                        border-radius: 50%;
                        transform: scale(0.8);
                    }
                }
            }
        }
    }

    footer {
        margin: 5rem 0 0;

        .footer-div {
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            color: rgb(90, 86, 86);

            .navigations-div {
                display: flex;
                flex-direction: column;

                h3 {
                    padding-bottom: 0.5rem;
                }

                a {
                    padding: 0.3rem 0;
                    text-decoration: none;
                    font-size: 0.8rem;
                    font-weight: 700;
                    color: rgb(90, 86, 86);
                }
            }

            .contact-div {
                h3 {
                    padding-bottom: 1rem;
                }

                p {
                    padding: 0.5rem;
                    span {
                        padding: 0.5rem;
                        color: $trusty-blue;
                    }
                }

                .social-links-div {
                    padding: 2rem 1rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: baseline;

                    div {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        border: 1px solid rgba(90, 86, 86, 0.2);
                        text-align: center;
                        cursor: pointer;
                        transition: all 0.5s ease-in-out;
                    }

                    div:hover {
                        background: $trusty-blue;
                        border: none;
                        color: $light-gray;
                    }
                }
            }
        }

        .copy-div {
            width: 100%;
            margin-top: 3rem;
            color: $dark-slate;
            font-size: 0.8rem;
            display: flex;
            justify-content: center;

            p {
                padding: 1rem;
                font-weight: 700;
            }
        }
    }
}

@import "index";
@import "store";
@import "cart";
@import "checkout";
@import "contact";
@import "about";
