$trusty-blue: #368cbf;
$hover-blue: #1675ac;
$green: #7ebc59;
$dark-slate: #33363b;
$light-gray: #eaeaea;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: Montserrat;
    font-size: 1rem;
}

.wrapper {
    background-color: $light-gray;

    .header-strip {
        background-color: $dark-slate;
        min-height: 100px;

        .navigation-div {
            margin: 0 5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $light-gray;
            min-height: 100px;
            font-weight: 700;

            .nav-bar {
                .nav-list {
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    align-self: center;
                    align-items: center;

                    .nav-list-item {
                        display: inline;
                        padding: 0 1rem;
                        a {
                            text-decoration: none;
                            color: #eaeaea;
                        }
                    }
                }
            }

            .nav-icons {
                display: flex;

                .user-icon,
                .cart-icon {
                    padding: 0 0 0 1rem;
                    cursor: pointer;
                }
            }
        }
    }
}

@import "index";

footer {
}
